pandas==2.1.0
aiohttp==3.9.5
beautifulsoup4==4.12.2
lxml==4.9.3
fake-useragent==1.1.1
tqdm==4.66.1
nest_asyncio==1.5.8

Anyone can install all dependencies with:


```bash
pip install -r code/requirements.txt
```
